---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import "{{ site.theme }}";

@font-face {
	font-family: 'SF UI Text';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/fonts/SF-UI-Text-Regular.woff) format("woff");
}

@font-face {
	font-family: 'SF UI Text';
	font-style: normal;
	font-weight: 700;
	src: url(/assets/fonts/SF-UI-Text-Bold.woff) format("woff");
}

@font-face {
	font-family: 'SF UI Text';
	font-style: italic;
	font-weight: 400;
	src: url(/assets/fonts/SF-UI-Text-RegularItalic.woff) format("woff");
}

@font-face {
	font-family: 'SF UI Text';
	font-style: italic;
	font-weight: 700;
	src: url(/assets/fonts/SF-UI-Text-BoldItalic.woff) format("woff");
}

html {
  height: 100%;
}

body {
  font-family: 'SF UI Text';
  color: #222;
}

a {
  font-family: 'SF UI Text', sans-serif;
  color: #4285f4;
}

a:hover {
  color: #3367d6;
}

h1, h2 {
  font-family: 'SF UI Text', sans-serif;
}

input:focus{
  outline: none;
}

section {
  width: 860px;
}

header {
  position: relative;
  width: 230px;
}

header ul {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  border: 0;
  border-spacing: 0px 5px;
}

header li {
  all: unset;
  display: table-row;
  font-size: 17px;
}

header ul a {
  all: unset;
  font-family: 'SF UI Text', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #4285f4;
  cursor: auto;
}

header ul a:hover {
  color: #3367d6;
}

figcaption {
  font-size: 15px;
  color: #9EABB3;
}

nav {
  all: unset;
}

footer {
  position: relative;
  bottom: 0;
}

#results-container {
  all: unset;
  color: #757575;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  cursor: auto;
}

#not-found {
  color: #9E9E9E;
  text-align: center;
  margin-top: 30%;
}

#results-container li {
  margin-top: 48px;
}

#results-container li h3:hover {
  color: #4285f4;
}

.top-nav {
  max-width: 600px;
}

.wrapper {
  width: 1100px;
}

.archive-post {
  font-family: 'SF UI Text', sans-serif;
}

.blog-logo {
  margin-top: 0px;
  margin-right: 10px;
  float: left;
  max-height: 100px;
  max-width: 100px;
  position: relative;
}

.blog-title {
  color: #505050;
  font-family: Montserrat,'SF UI Text', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
}

.blog-tagline {
  font-size: 15px;
  color: #222;
}

.content {
  font-size: 16px;
}

.menu-section {
  margin-top: 0;
  margin-bottom: 120px;
}

.menu-section h3 {
  color: #222;
}

.copyright {
  margin-top: 10px;
  position: relative;
  font-size: 0.7rem;
  color: #BBC7CC;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */  
  padding-top: 25px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.video-wrapper iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
}

.post-data {
  font-family: 'SF UI Text', sans-serif;
  font-size: 15px;
  color: #9EABB3;
  margin-bottom: 5px;
}

.post-title {
  font-size: 24px;
  font-family: 'SF UI Text', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.post-title a {
  color: #212121;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.post-title a:hover {
  color: #4285f4;
}

.post-entry {
  font-family: 'SF UI Text';
  font-size: 18px;
  line-height: 1.6em;
  color: #000030;
  margin-bottom: 40px;
}

.post-entry a {
  font-family: 'SF UI Text', sans-serif;
}

.older-posts {
  float: right;
}

.newer-posts {
  float: left;
}

span.newer-posts, span.older-posts {
  color: #757575;
}

.page-nav {
  font-size: 16px;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-nav a {
  display: block;
  float: left;
  margin: 0.3em 0;
}

.page-nav-left {
  max-width: 50%;
  float: left;
}

.page-nav-right {
  max-width: 50%;
  float: right;
}

.read-prev-label, .read-next-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #9EABB3;
}

.written-by h5 a {
  font-family: 'SF UI Text', sans-serif;
}

.social-links {
  border: 1px solid #eee;
  border-radius: 2px;
  max-width: 160px;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.hamburger {
  position: relative;
  float: right;
  padding: 0;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger:focus {
  outline: none;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: #505050;
}

.noscroll {
  overflow: hidden; 
}

.mobile-menu-btn {
  display: none;
  z-index: 9999;
}

.overlay {
  width: 0;
  height: 100%;
  overflow: hidden;
  position: fixed; 
  top: 0;
  right: 0;
  transition: width 0.3s ease-out;
  background-color: #fff;
  z-index: 8888;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show .overlay {
  width: 70%;
  height: 100%;
  position: fixed;
}

nav.mobile-menu ul {
  list-style-type: none;
  position: relative;
  top: 80px;
  left: 0;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s 0.2s ease-in;
}

.show nav ul {
  opacity: 1;
  transform: translateX(0);
}

nav a {
  display: block;
  width: 200px;
  line-height: 42px;
  text-decoration: none;
  color: black;
  font-family: 'SF UI Text', sans-serif;
}

#search-input, #search-input::before, #search-input::after {
  box-sizing: border-box;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

#search-input:focus {
  outline: none;
}

.wrap {
  position: relative;
}

#search-input {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: inherit;
  line-height: 1.2;
  padding: .5rem 1rem;
  background: #fff;
  color: #222;
  border-radius: .25em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#search-input::-webkit-input-placeholder {
  margin: 0 auto;
}
#search-input:-moz-placeholder {
  margin: 0 auto;
}
#search-input::-moz-placeholder {
  margin: 0 auto;
}
#search-input:-ms-input-placeholder {
  margin: 0 auto;
}
#search-input:focus {
  background: rgba(255, 255, 255, 0.2);
  top: 0;
}

@media only screen and (max-width: 1100px) {
  .wrapper, section, header {
    all: unset;
  }
  
  .copyright, .menu, .blog-tagline, .rss-link {
    display: none;
  }

  .blog-title, .blog-title a {
    font-size: 1.7rem;
    max-width: 200px;
    margin-right: 0;
  }

  .mobile-menu-btn {
    display: block;
  }
}