<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="wrapper">
    <button class="mobile-menu-btn hamburger hamburger--collapse" type="button" onclick="console.log('clicked');">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="overlay">
      <nav class="mobile-menu">
        <ul>
          <li><a href="{{ site.baseurl }}/2017/01/19/about-me.html">About Me</a></li>
          <li><a href="mailto:contact@gmontalvo.me">Contact</a></li>
          <li><a href="{{ site.baseurl }}/archive.html">Post Archive</a></li>
          <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
        </ul>
      </nav> 
    </div>

    <div class="top-nav">
      <a href="{{ site.baseurl }}/">
        <!--<img class="blog-logo" width="50px" height="50px" src="{{ site.baseurl }}/assets/img/swirl.png">-->
        <h1 class="blog-title">{{ site.title }}</h1>
      </a>
      
      <p class="blog-tagline">{{ site.description }}</p>

      <br>
    </div>

    <header>

      <nav class="menu">
        
        <div class="menu-section">
          <h3>Resources</h3>

          <ul>
            <li><a href="{{ site.baseurl }}/2017/01/19/about-me.html">About Me</a></li>
            <li><a href="mailto:contact@gmontalvo.me">Contact</a></li>
            <li><a href="{{ site.baseurl }}/archive.html">Post Archive</a></li>
            <li><a href="{{ site.baseurl }}/search.html">Search</a></li>
          </ul>
        </div>


        <aside>
          <div class="social-links">
            Follow me on Twitter

            <br><br>

            <a href="https://twitter.com/gmontalvoriv" class="twitter-follow-button" data-show-count="false">Follow @gmontalvoriv</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

            <br><br>
            <hr>

            Follow me on GitHub

            <br><br>

            <a class="github-button" href="{{ site.github_link }}" aria-label="Follow @gamontalvo on GitHub">Follow @gamontalvo</a>          
          
          </div>
        </aside>
      </nav>

      <br><br>

      <div class="rss-link"><i style="color: #9E9E9E;" class="fa fa-rss" aria-hidden="true"> </i><a href="{{ site.baseurl }}/feed.xml"> Subscribe to the RSS Feed</a></div>

      <div class="copyright">
        Copyright Gabriel Montalvo © 2017
      </div>
    </header>

    <section class="content">

      {{ content }}

    </section>

  </div>

  {% include footer.html %}
  
</body>

</html>